<%- include("./partials/head.ejs", { title: "Editar " + book.title }) %>
<body>
<%- include("./partials/header.ejs") %>
<main>
    <form class="generalForm" action="/product/<%= book.id %>?_method=PUT" method="POST">
        <div class="title">
            <h2>Editar Libro</h2>
        </div>
        <div class="formContent">
        <label name="title">
            <p>Titulo</p>
            <input type="text" id="title" class="generalinput" name="title" value="<%= book.title %>" required>
        </label>
        <label name="price">
            <p>Precio</p>
            <input type="number" id="price" class="generalinput" name="price" value="<%= book.price %>">
        </label>
        <label name="discount">
            <p>Descuento</p>
            <input type="number" id="discount" class="generalinput" name="discount" value="<%= book.discount %>">
        </label>
        <label name="stock">
            <p>Stock Inicial</p>
            <input type="number" id="stock" class="generalinput" name="stock" value="<%= book.stock %>">
        </label>
        <label name="image">
            <p>Portada</p>
            <div class="front">
                <img src="/img/<%= book.image %>">
                <p id="frontLegend">Si deseas cambiar la portada seleccione un nuevo archivo</p>
            </div>
            <input type="file" class="inputFile" name="image">
        </label>
        <label name="editorial">
            <p>Editorial</p>
            <input type="text" id="editorial" class="generalinput" name="editorial" value="<%= book.editorial %>">
        </label>
        <label name="author">
            <p>Autor</p>
            <input type="text" id="author" class="generalinput" name="author" value="<%= book.author %>">
        </label>
        <label name="isbn">
            <p>ISBN</p>
            <input type="text" id="isbn" class="generalinput" name="isbn" value="<%= book.isbn %>">
        </label>
        <label name="language">
            <p>Lenguaje</p>
            <input type="text" id="language" class="generalinput" name="language" value="<%= book.language %>">
        </label>
        <label name="peso">
            <p>Peso</p>
            <input type="number" id="peso" class="generalinput" name="peso" value="<%= book.peso %>">
        </label>
        <label name="pages">
            <p>Número de Páginas</p>
            <input type="number" id="pages" class="generalinput" name="pages" value="<%= book.pages %>">
        </label>
        <label name="published">
            <p>Año de Publicación</p>
            <input type="text" id="published" class="generalinput" name="published" value="<%= book.published %>">
        </label>
        <div class="format">
            <p>Formato</p>
            <% if(book.format == "Fisico"){ %>
                <label id="option">
                    <input name="format" value="Fisico" type="radio" checked> Fisico
                </label>
                <label id="option">
                    <input type="radio" name="format"  value="Digital"> Digital
                </label>
            <% } else {%>
                <label id="option">
                    <input name="format" value="Fisico" type="radio"> Fisico
                </label>
                <label id="option">
                    <input type="radio" name="format"  value="Digital" checked> Digital
                </label>
            <% } %>
        <p>Encuadernación</p>
        <% if(book.binding == "Tapa Dura"){ %>
            <label id="option">
                <input name="binding" value="Tapa Dura" type="radio" checked> Tapa Dura
            </label>
            <label id="option">
                <input name="binding"  value="Tapa Blanda" type="radio"> Tapa Blanda
            </label>
        <% } else { %>
            <label id="option">
                <input name="binding" value="Tapa Dura" type="radio"> Tapa Dura
            </label>
            <label id="option">
                <input name="binding"  value="Tapa Blanda" type="radio" checked> Tapa Blanda
            </label>
        <% } %>
        <p>Categoría de Libro</p>
        <select name="bookCategory">
            <option value="">Seleccionar Categoría</option>
            <% for(let i = 0; i < bookCategories.length; i++){%>
                <% if(bookCategories[i] === book.bookCategory){ %>
                    <option value="<%= bookCategories[i] %>" selected > <%= bookCategories[i] %></option>
                <%} else { %>
                    <option value="<%= bookCategories[i] %>"> <%= bookCategories[i] %></option>
                <% } %>
            <% } %>
        </select>
        <p>Categoría de Venta</p>
        <select name="category">
            <option value="">Seleccionar Categoría</option>
            <% for(let i = 0; i < categories.length; i++){ %>
                <% if(categories[i] === book.category){ %>
                    <option value="<%= categories[i] %>" selected > <%= categories[i] %></option>
                <%} else { %>
                    <option value="<%= categories[i] %>"> <%= categories[i] %></option>
                <% } %>
            <% } %>
        </select>
        <label name="sinopsis">
            <p>Sinopsis</p>
            <textarea class="inputTextarea" name="sinopsis"><%= book.sinopsis %></textarea>
        </label>
    <div class="buttoms">
            <input type="submit" class="formButtom" value="Editar Libro" class="boton-enviar">
    </div>
    </div>
</form>
<form class="delete" action="/product/<%= book.id %>?_method=DELETE" method="POST">
    <button type="submit" class="formButtom">Eliminar Libro</button>
</form>
</main>
<%- include("./partials/footer.ejs") %>
</body>
</html>