<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Lato:wght@100&family=Open+Sans:ital,wght@0,300;0,700;1,300&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="/css/normalize.css" rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/productDetail.css" rel="stylesheet">
</head>
<body>
<%- include("./partials/header.ejs") %>
    <main>
        <!--Esta lista es provisoria para mostrar en el navegador. Debe ser automatizada-->
        <ol class="product-route">  
            <a href="#"><li>Home > </li></a>
            <a href="#"><li>Categoría > </li></a>
            <a href="#"><li>Opcion > </li></a>
            <a href="#"><li>Nombre del Libro</li></a>
        </ol>
        <div class="product-main"> <!--Se debe automarizar la info de cada producto en cada seccion-->
              <div class="product-main-top">
                <div class="product-main-top-left">
                    <div class="image-container">
                        <img src="/img/<%= book.image %>" alt="product-image">
                    </div>    
                    <div class="media">
                        <!--Se debe generar cada cuenta en redes para poner en el href-->
                        <div class="img-media"><a href="#"><img src="/img/fb.png" alt="logo-facebook"></a></div>
                        <div class="img-media"><a href="#"><img src="/img/tweeter.png" alt="logo-tweeter"></a></div>
                        <div class="img-media"><a href="#"><img src="/img/instagram.png" alt="logo-instagram"></a></div>
                        <div class="img-media"><a href="#"><img src="/img/whatsapp.png" alt="logo-whatsapp"></a></div>
                    </div>
                <!--Definir donde se redirige:-->
                <a href="#" id="availability"><p>Avisarme cuando este disponible</p></a>
                </div> 
                <div class="product-main-top-right">
                    <div class=product-title>
                        <h1><%= book.title %></h1>
                        <h4>Autor: <%= book.author %></h4>
                        <h4>Editorial: <%= book.editorial %></h4>
                    </div>
                    <div class="product-shop">
                        <div class="product-price">
                            <p>$ <%= book.price %></p>
                        </div>
                        <div class="quantity-container">
                            <label for="quantity">Cantidad</label>
                            <input type="number" name="quantity" class="quant-input">
                        </div>
                        <div class="cart-label">
                            <button type="submit" class="cart-button">Agregar al Carrito</button>
                        </div>
                    </div>
                    <div class="product-synposis">
                        <h1>Sinposis:</h1>
                        <p> <%= book.sinopsis %>
                        </p>
                    </div>
                    <div class="product-aditional-info">
                        <h3>Informacion Adicional:</h3>
                        <h4 id="">Editorial: <%= book.editorial %></h4>
                        <h4 id="">ISBN: <%= book.isbn %></h4>
                        <h4 id="">Nro. de Páginas: <%= book.pages %></h4>
                        <h4 id="">Idioma: <%= book.language %></h4>
                        <h4 id="">Formato: <%= book.format %></h4>
                        <h4 id="">Encuadernación: <%= book.binding %><h4>
                        <h4 id="">Peso: <%= book.peso %>g</h4>
                        <h4 id="">Fecha Publicación: <%= book.published %> </h4>
                    </div>
                </div>
            </div>
            <div class="product-main-bottom">
                <div class="similar-products-title">
                    <h3>Titulos Similares:</h3>
                </div>
                <div class="similar-products">
                    <a href="/product/<%= book.id %>">
                    <div class="other-products">
                        <div class="img-other-products">
                            <img src="/img/<%= book.image %>" alt="Universo 2">
                        </div>
                      <!--<div class="other-products-price">
                            <a href="#">Comprar</a>
                        </div>-->
                    </div>
                    </a>
                    <div class="other-products">
                        <div class="img-other-products">
                            <img src="/img/universo.png" alt="Universo">
                        </div>
                        <!--<div class="other-products-price">
                            <a href="#">Comprar</a>
                        </div>-->
                    </div>
                    <div class="other-products">
                        <div class="img-other-products">
                            <img src="/img/universo3.png" alt="Universo 3">
                        </div>
                      <!--<div class="other-products-price">
                            <a href="#">Comprar</a>
                        </div>-->
                    </div>
                    <div class="other-products">
                        <div class="img-other-products">
                            <img src="/img/universo4.png" alt="Universo 4">
                        </div>
                       <!--<div class="other-products-price">
                            <a href="#">Comprar</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>  
    </main>
<%- include("./partials/footer.ejs") %>
</body>
</html>