<%- include("./partials/head.ejs") %>
<body>
<%- include("./partials/header.ejs") %>
        <main>
           
        <h3>Arte</h3>
        <div class="lo-mas-visto">
            <% books.forEach(function(book){%>
                <div class="other-products">
                    <a href="/product/<%= book.id %>">
                        <div class="img-other-products">
                            <img src="/img/<%= book.image %>" alt="Universo 4">
                        </div>
                        <!--
                            <div class="other-products-price">
                                <a href="#">Comprar</a>
                            </div>-->
                    </a>
                </div>
                <% }); %>
        </div>
        </main>
        <%- include("./partials/footer.ejs") %>
</body>

</html>