<%- include("./partials/head.ejs", { title: "Registro"}) %>
<body>
<%- include("./partials/header.ejs") %>
        <main>
            <form method="POST" action="/user/register" enctype="multipart/form-data">
                <div class="generalForm">
                    <div class="formContent">
                        <h2>Ingresá tus datos</h2>
                        <img src="/img/line.png" alt="line" class="login-line">
                        <label><p>Nombre</p></label>
                        <input type="text" class="generalinput" name="name"  value="<%= locals.OldData ? OldData.name : null %>">
                        <% if(locals.errors && errors.name){ %>
                            <p class="textError">
                                <%= errors.name.msg %>
                            </p>
                        <% } %>


                        <label><p>Apellido</p></label>
                        <input type="text" class="generalinput" name="lastname" value="<%= locals.OldData ? OldData.lastname : null %>">
                        <% if(locals.errors && errors.lastname){ %>
                            <p class="textError">
                        <%= errors.lastname.msg %>
                            </p>
                        <% } %>
                        
                        <label><p></p>Fecha de Nacimiento</p></label>
                        <input type="date" class="generalinput" name="birthday" value="<%= locals.OldData ? OldData.birthday : null %>">
                        <% if(locals.errors && errors.birthday){ %>
                            <p class="textError">
                                <%= errors.birthday.msg %>
                            </p>
                        <% } %>
                    </div>
                </div>

                <div class="generalForm">
                    <div class="formContent">
                        <h2>Información de Cuenta</h2>
                        <img src="/img/line.png" alt="line" class="login-line">
                        <label><p>Nombre de Usuario</p></label>
                            <input type="text" class="generalinput" name="userName" value="<%= locals.OldData ? OldData.userName : null %>">
                            <% if(locals.errors && errors.userName){ %>
                                <p class="textError">
                                    <%= errors.userName.msg %>
                                </p>
                            <% } %>
                        <label name="email"><p>Email</p></label>
                            <input type="email" class="generalinput" name="email" value="<%= locals.OldData ? OldData.email : null %>">
                            <% if(locals.errors && errors.email){ %>
                                <p class="textError">
                                    <%= errors.email.msg %>
                                </p>
                            <% } %>
                       
                        <label name="password"><p>Contraseña</p></label>
                            <input type="password" class="generalinput" name="password" >
                            <% if(locals.errors && errors.password){ %>
                                <p class="textError">
                                    <%= errors.password.msg %>
                                </p>
                            <% } %>
                            <label name="confirm_password"><p>Confirmar Contraseña</p></label>
                            <input type="password" class="generalinput" name="confirm_password">
                            <% if(locals.errors && errors.confirm_password){ %>
                                <p class="textError">
                                    <%= errors.confirm_password.msg %>
                                </p>
                            <% } %>

                            <label name="avatar"><p>Subir Imagen de Perfil</p></label>
                            <input type="file" class="inputFile" name="avatar"  value="<%= locals.OldData ? OldData.avatar : null %>">>
                            <% if(locals.errors && errors.avatar){ %>
                                <p class="textError">
                                    <%= errors.avatar.msg %>
                                </p>
                            <% } %>
                        <div class="register_checkbox">
                            <label>
                                <p>
                                    <input type="checkbox"  name="notifications"> Deseo recibir información de las ultimas novedades de
                                    Bookify vía email.
                                </p>
                            </label>
                            <label>
                                <p>
                                    <input type="checkbox" name="termsAndConditions"> Declaro estar de acuerdo con los Terminos y Condiciones de
                                    Bookify
                                </p>
                            </label>
                            <% if(locals.errors && errors.termsAndConditions){ %>
                                <p class="textError">
                                    <%= errors.termsAndConditions.msg %>
                                </p>
                            <% } %>
                        </div>
                        <div class="buttoms">
                            <input type="submit" class="formButtom" value="Crear Cuenta">
                        </div>
                    </div>
                </div>
            </form>
        </main>
        <%- include("./partials/footer.ejs") %>
</body>

</html>