<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow&family=Lato:wght@100&family=Open+Sans:ital,wght@0,300;0,700;1,300&family=Roboto:wght@100;400&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/productCreate.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/favicon.png">
</head>

<body>
    <%- include("./partials/header.ejs") %>
        <main>
            <h2>Editar información del usuario <%= user.userName %></h2>
            <form method="POST" action="/user/register" enctype="multipart/form-data">

                <div class="generalForm">
                    <div class="formContent">
                        <h2>Información de Cuenta</h2>
                        <img src="/img/line.png" alt="line" class="login-line">
                        <label><p>Nombre de Usuario</p></label>
                            <p class="textError">Si quieres cambiar tu nombre de usuario recuerda que el mismo debe estar disponible</p>
                            <input type="text" class="generalinput" name="userName" value="<%= user.userName %>">
                            <% if(locals.errors && errors.userName){ %>
                                <p class="textError">
                                    <%= errors.userName.msg %>
                                </p>
                            <% } %>
                        <label name="email"><p>Email</p></label>
                        <p class="textError">Si quieres cambiar tu email el mismo no debe estar registrado en nuestra página</p>
                            <input type="email" class="generalinput" name="email">
                            <% if(locals.errors && errors.email){ %>
                                <p class="textError">
                                    <%= errors.email.msg %>
                                </p>
                            <% } %>
                        <label name="validate_email"><p>Confirmar Email</p></label>
                            <input type="email" class="generalinput" name="validate_email">
                            <% if(locals.errors && errors.validate_email){ %>
                                <p class="textError">
                                    <%= errors.validate_email.msg %>
                                </p>
                            <% } %>
                        <label name="password"><p>Contraseña</p></label>
                            <input type="password" class="generalinput" name="password" >
                            <% if(locals.errors && errors.password){ %>
                                <p class="textError">
                                    <%= errors.password.msg %>
                                </p>
                            <% } %>
                        <label name="confirm_password"><p>Confirmar Contraseña</p></label>
                            <input type="password" class="generalinput" name="confirm_password">
                            <% if(locals.errors && errors.confirm_password){ %>
                                <p class="textError">
                                    <%= errors.confirm_password.msg %>
                                </p>
                            <% } %>
                        <label name="avatar"><p>Imagen de Perfil</p></label>
                        <div class="front">
                            <img src="/img/<%= user.avatar %>">
                            <p id="frontLegend">Si deseas cambiar la foto de perfil seleccione un nuevo archivo</p>
                        </div>
                            <input type="file" class="inputFile" name="avatar">                        
                        <div class="buttoms">
                            <input type="submit" class="formButtom" value="Registrarse">
                        </div>
                    </div>
                </div>
            </form>
        </main>
        <%- include("./partials/footer.ejs") %>
</body>

</html>