<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Lato:wght@100&family=Open+Sans:ital,wght@0,300;0,700;1,300&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="/css/normalize.css" rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/userDetail.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/favicon.png">
</head>
<body>
<%- include("./partials/header.ejs") %>
    <main>
      <h2>Perfil de Usuario</h2>
      <div class="userProfile">
        <div class="content">
          <div class="profileAvatar">
            <img src="/img/<%= user.avatar %>" class="avatar">
          </div>
          <div class="info">
            <h3>Nombre de Usuario</h3>
            <p><%= user.userName %></p>
            <h3>Nombre</h3>
            <p><%= user.name %></p>
            <h3>Apellido</h3>
            <p><%= user.lastName %></p>
            <h3>Fecha de Nacimiento</h3>
            <p><%= user.birthday %></p>
            <h3>Email</h3>
            <p><%= user.email %></p>
            </div>
        </div>
      </div>
      <form class="buttonBox" action="/product/<%= user.id %>?_method=DELETE" method="POST">
        <a class="button" href="user/<%= user.id %>/edit">
          Editar Información
        </a>
          <button class="button" type="submit">Eliminar Usuario</button>
      </form>
    </main>
<%- include("./partials/footer.ejs") %>
</body>
</html>