<%- include("./partials/head.ejs") %>
<body>
<%- include("./partials/header.ejs") %>
    <main>
      <div class="userProfile">
        <div class="content">
          <div class="profileAvatar">
            <img src="/img/<%= user.avatar %>" class="avatar">
          </div>
          <div class="info">
            <h2>Perfil de Usuario</h2>
            <h3>Nombre de Usuario</h3>
            <p><%= user.userName %></p>
            <h3>Nombre</h3>
            <p><%= user.name %></p>
            <h3>Apellido</h3>
            <p><%= user.lastname %></p>
            <h3>Fecha de Nacimiento</h3>
            <p><%= user.birthday %></p>
            <h3>Email</h3>
            <p><%= user.email %></p>
            </div>
        </div>
      </div>
      <form class="buttonBox" action="/user/<%= user.id %>/edit" method="GET">
          <button class="button" type="submit">Editar Usuario</button>
      </form>
      <form class="buttonBox" action="/user/<%= user.id %>/delete?_method=DELETE" method="POST">
        <button class="button" type="submit">Eliminar Usuario</button>
    </form>
    </main>
<%- include("./partials/footer.ejs") %>
</body>
</html>